@import url('https://db.onlinewebfonts.com/c/4ba6a0aa699286a040c28bf72ea53fa3?family=Dunkin+Sans+Book');
@import url('https://db.onlinewebfonts.com/c/ac415bee855b42915c6fb198747e34ac?family=Dunkin+Sans+Display');

@font-face {
    font-family: "Dunkin Sans Book";
    src: url("https://db.onlinewebfonts.com/t/4ba6a0aa699286a040c28bf72ea53fa3.eot");
    src: url("https://db.onlinewebfonts.com/t/4ba6a0aa699286a040c28bf72ea53fa3.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/4ba6a0aa699286a040c28bf72ea53fa3.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/4ba6a0aa699286a040c28bf72ea53fa3.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/4ba6a0aa699286a040c28bf72ea53fa3.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/4ba6a0aa699286a040c28bf72ea53fa3.svg#Dunkin Sans Book") format("svg");
}

@font-face {
    font-family: "Dunkin Sans Display";
    src: url("https://db.onlinewebfonts.com/t/ac415bee855b42915c6fb198747e34ac.eot");
    src: url("https://db.onlinewebfonts.com/t/ac415bee855b42915c6fb198747e34ac.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/ac415bee855b42915c6fb198747e34ac.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/ac415bee855b42915c6fb198747e34ac.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/ac415bee855b42915c6fb198747e34ac.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/ac415bee855b42915c6fb198747e34ac.svg#Dunkin Sans Display") format("svg");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --roze: #f20c90;
    --wit: white;
    --whitesmoke: whitesmoke;
    --oranje: #fe6d01;
    --donkeroranje: #e8402ebf;
    --beige: #ddbd8e;
    --lichtroze: #f950ad;
    --lichtblauw: #99d6ea;
    --blauw: #71c5e8;
    --donkerblauw: #0072ce;
    --grijs: #aaa;
    --zwart: black;
    --bruin: #814c0f;
    /* --rotate: transform: rotate(-20deg); */
}

body.darkmode{
    --roze: #cc231e;
    --whitesmoke: #083458;
    --oranje: #99d6ea;
    --donkeroranje: #00589b;
    --achtergrond: #34a65f;
    --lichtroze: #F5624D;
    --lichtblauw: #34a65f;
    --blauw: #cc231e;
}

body{
    background-color: var(--wit);
}

h1,
h2,
h3,
h4{
    font-family: "Dunkin sans display";
    text-transform: uppercase;
    color: var(--wit);
    font-size: 2.8em;
}

p {
    font-family: "Dunkin sans book";
    font-size: 0.8em;
}

.bestelknop{
    background-color: var(--whitesmoke);
    padding:0 5% 5% 5%;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

header {
    position: relative;
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header > nav{
    border-bottom: 0.10px solid var(--whitesmoke);
    transition: transform 0.3s ease;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    background-color: var(--wit);
    list-style-type: none;
}

header nav ul li:first-of-type{
    padding: 3% 4%;
    background-color: var(--whitesmoke);
    border-radius: 30px;
}

header nav ul li:nth-of-type(3){
    padding: 2% 4%;
    background-color: var(--whitesmoke);
    border-radius: 30px;
}

header nav ul li:first-of-type > img {
    max-height: 0.58em;
    width: auto;
}

header nav ul li:nth-of-type(2) > img {
    max-height: 1.6em;
    width: auto; 
}

header nav ul li:nth-of-type(3) img {
    max-height: 1em;
    width: auto;
}

header p {
    padding: 1em;
    background: var(--oranje);
    text-align: center;
    color: var(--wit);
    text-transform: none;
    transition: transform 0.3s ease, opacity 1s ease;
}

header p a {
    color: var(--donkerblauw);
    text-transform: none;
    font-family: "dunkin sans book";
}

header > a {
    position: absolute;
    position: fixed;
}

header.scrolled p {
    transform: translateY(-100%);
    opacity: 0;
}

header.scrolled nav{
    transform: translateY(-66%);
}

main {
    margin: 0;
}

.welovecoffee,
.bestel,
.nieuw,
.app,
.nieuwsitem1,
.nieuwsitem2,
.storefinder{
    margin: 1.4em;
}

.achtergrond {
    display: block;
    width: 100%;
    background-color: var(--beige);
    z-index: 0;
    border-radius: 20px;
    height: 53vh;
    object-fit: cover;
}

.achtergrondwinter{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

body.darkmode .achtergrondwinter {
    display: block;
}

/* WE LOVE COFFEE KADER HOMEPAGINA */
.welovecoffee {
    position: relative;
    overflow: hidden;
}

.welovecoffee h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1;
    width: 100%;
}

.welovecoffee img:nth-of-type(n+2) {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 40vw;
}

.welovecoffee img:nth-of-type(2) {
    left: calc(50% - 80px);
}

.welovecoffee img:nth-of-type(3) {
    left: 50%;
    z-index: 2;
    top: 40%;
}

.welovecoffee img:nth-of-type(4) {
    position: absolute;
    top: 50%;
    left: 75%;
}

/*  BESTEL MENU HOMEPAGINA */
.bestel {
    background-color: var(--roze);
    border-radius: 20px;
    padding: 1em 1em 1.3em;
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    align-items: center;
}

.bestel h3 {
    grid-column: 1 / -1;
    text-align: center;
}

.bestel p {
    grid-column: 1 / -1; 
    color: var(--wit);
}

.bestel a {
    padding: 0.8em 1em;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.88em;
    font-family: "dunkin sans display";
    text-transform: uppercase;
    text-align: center;
}

.bestel a:first-of-type {
    background-color: var(--wit);
    color: var(--roze);
    width: 100%;
}

.bestel a:last-of-type {
    background-color: var(--lichtroze);
    color: var(--wit);
    width: 100%;
}

/* NIEUW! HOMEPAGINA */

.nieuw {
    background-color: var(--lichtblauw);
    border-radius: 20px;
    padding: 1em 1em 19em;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 10; 
}

.nieuw h3 {
    color: var(--wit);
}

.nieuw img {
    position: absolute;
    top: 10%;
    width: 120%;
}

/* BESTEL DUNKIN ONLINE HOMEPAGINA */

.stappen {
    background-color: var(--whitesmoke);
    margin: 0;
    position: relative;
    z-index: 1;
    padding-bottom: 2em;
}

.stappen h2{
    line-height: 1;
    margin-left: 0.3em;
    font-size: 3.7em;
    margin-top: 1.7em;
}

.stappen h2 span:nth-of-type(1), 
.stappen h2 span:nth-of-type(3) {
    color: var(--roze);
}

.stappen h2 span:nth-of-type(2) {
    color: var(--oranje); 
}

.stappen > div:nth-of-type(1){
    background-color: var(--whitesmoke);
    padding-top: 35em;
    position: absolute;
    width: 100%;
    top: -35em;
    left: 0;
    z-index: 5;
}

.stappen ul li {
    display: grid;
    grid-template-columns: 30% 70%;
    list-style-type: none;
    background-color: var(--wit);
    padding: 1.2em;
    border-radius: 20px;
    margin: 0.8em;
}

.stappen ul li img {
    grid-row: 1 / 3;
    align-self: center;
    width: 15vw;
    padding: 0.9em;
    margin-right: 1em;
    border-radius: 50%;
    background-color: var(--roze);
}

.stappen ul li:nth-of-type(2) img{
    background-color: var(--oranje);
}

.stappen ul li h4 {
    margin: 0;
    font-size: 1.2em;
    color: var(--roze);
    width: 70%;
}

.stappen ul li p {
    grid-column: 2/3;
    margin: 0;
    color: var(--grijs);
    line-height: 1.6;
}

.stappen a,
.nieuwsitem1 a,
.nieuwsitem2 a,
nav ul li a,
.bestelknop a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--wit);
    font-family: "dunkin sans display";
    padding: 1.2em;
    border-radius: 30px;
    background-color: var(--oranje);
    text-transform: uppercase;
    margin-top: 1em;
}

.stappen a{
    margin: 1em;
}

.stappen > img{
    display: none;
}

body.darkmode .stappen > img{
    width: 30%;
    position: absolute;
    left: 58%;
    top: -1%;
    z-index: 100;
    transform: rotate(25deg);
    display: block;
}

.style{
    background-color: var(--whitesmoke);
    padding: 9.5em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    position: absolute;
    width: 100%;
}

/* APP JIJ 'M AL? HOMEPAGINA */

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    padding-bottom: 12em;
    border-radius: 20px;
    background-color: var(--blauw);
    position: relative;
    overflow: hidden;
}

.app h2,
.app h4,
.app p {
    margin: 0.5em 0;
    width: 90%;
}

.app img:nth-of-type(1),
.app img:nth-of-type(2) {
    margin: 0.8em 0;
    width: 80%;
}

.app img:nth-of-type(3) {
    width: 230vw;
    position: absolute;
    bottom: -42%;
}

.app h4{
    font-size: 1.3em;
}

.app p{
    font-size: 1em;
    line-height: 1.7;
    width: 100%;
    color: var(--wit);
}

/* HEROPENING BATAVIASTAD HOMEPAGINA */

.nieuwsitem1 {
    position: relative; 
}

.nieuwsitem1 h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--roze);
}

.nieuwsitem1 p,
.nieuwsitem2 p {
    font-size: 1em;
    color: var(--grijs);
}

.nieuwsitem1 img:nth-of-type(1) {
    width: 100%;
    border-radius: 20px;
    Object-fit: cover;
    height: 100vw;
}

.nieuwsitem1 img:nth-of-type(2) {
    background-color: var(--oranje);
    border-radius: 50%;
    padding: 1em;
    max-width: 28%;
    position: absolute;
    top: 50%;
    left: 60%;
}

/*DUNKIN START MET GLUTENVRIJE DONUTS HOMEPAGINA */
.nieuwsitem2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nieuwsitem2 h2 {
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    color: var(--oranje);
    width: 94%;
}

.nieuwsitem2 p {
    text-align: left;
    width: 94%;
}

.nieuwsitem2 img:nth-of-type(1) {
    margin-top: 5em;
    width: 50%; 
    position: relative;
}

.nieuwsitem2 img:nth-of-type(2) {
    background-color: var(--roze);
    border-radius: 50%;
    padding: 1em;
    max-width: 28%;
    position: absolute;
    left: 60%;
    transform: translate(-10%, 260%);
}

.nieuwsitem2 a{
    width: 100%;
}

/* DD NIEUWS */


/* STORE FINDER */

.storefinder {
    background-color: var(--roze);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10%;
    margin-bottom: 8em;
}

.storefinder img:nth-of-type(1){
    border-radius: 50%;
    border: solid;
    border-color: var(--wit);
    border-width: 0.8em;
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    position: relative;
}

.storefinder img:nth-of-type(2){
    border-radius: 50%;
    background-color: var(--wit);
    width: 26%;
    position: absolute;
    top: 30%;
    right: 10%;
    transform: rotate(-30deg);
    filter: drop-shadow(1px 6px 5px var(--zwart));
}

.storefinder h4{
    font-size: 1.3em;
    margin: 1em 0;
    text-align: center;
    width: 80%;
}

.storefinder h2{
    text-align: center;
    width: 70%;
    line-height: 1;
    margin-bottom: 15%;
}

.storefinder a{
    background-color: var(--wit);
    padding: 8%;
    border-radius: 40px;
    text-decoration: none;
    font-family: "Dunkin sans display";
    color: var(--roze);
    font-size: 0.2em;
    margin-bottom: 5em;
}

.storefinder div{
    border-radius: 50%;
    background-color: var(--roze);
    padding: 4%;
}

.storefinder div:first-of-type{
    position: absolute;
    bottom: 12%;
    right: 32%;
}

.storefinder div:nth-of-type(2){
    position: absolute;
    bottom: 14%;
    right: 37%;
}

.kerstboom{
display: none;
}

body.darkmode .kerstboom{
    display: block;
    width: 40%;
    position: absolute;
    top: 650%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--oranje);
    color: var(--wit);
    position: relative;
    padding-top: 8em;
}

footer > img {
    position: absolute;
    top: -10%;
    width: 40%;
    background-color: var(--whitesmoke);
    border-radius: 50%;
    filter: drop-shadow(1px 6px 5px var(--zwart));
    transform: rotate(-20deg);
}

footer nav {
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 1.4em;
}

footer nav ul li a {
    background-color: var(--donkeroranje);
    width: 100%;
} 

footer > ul {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
}

footer h3{
    font-size: 1em;
    margin: 1em;
}

input {
    appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: var(--donkeroranje);
    margin-bottom: 2em;
}

input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--whitesmoke);
    transition: left .3s;
}

input:checked {
    background-color: var(--donkerblauw);
}

input:checked::after {
    left: 70%;
}

footer p{
    text-align: center;
    background-color: var(--whitesmoke);
    color: var(--grijs);
    font-size: 0.7em;
    padding: 2em 2em 12em;
    text-decoration: none;
}

footer > ul li{
    list-style-type: none;
}

footer p a{
    text-decoration: none;
    color: var(--grijs);
}

footer > ul li a{
    display: inline-block;        
    padding: 10px;      
    width: 10vw;   
    height: 10vw;
    background-color: var(--wit);
    border-radius: 50%;   
}

footer > ul li a img{
    height: 5vw;
    border-radius: 0;   
}

footer > ul li a {
    margin: 0 0.5em;
}

/* ABOUT PAGINA */

.verhaal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige);
    padding-bottom: 10em;
    position: relative;
}

.verhaal h1{
    font-size: 1.3em;
    margin: 1em;
}

.verhaal h2{
    text-align: center;
    line-height: 1;
}

.verhaal h1,
.verhaal h2{
    color: var(--bruin);
}

.verhaal img{
    width: 50vw;
    position: absolute;
    right: -10%;
    bottom: -10%;
    z-index: 1;
}

.dunkin img{
    border-radius: 20px;
    width: 90vw;
}

.dunkin {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10em 1.4em;
}

.dunkin h2{
    color: var(--roze);
}

.dunkin img:first-of-type{
    display: block;
    transition: transform 0.2s ease-out;
}

article {
    margin: 1.4em;
}

article img{
    width: 90vw;
    border-radius: 20px;
}

article h2{
    font-size: 2em;
    color: var(--roze);
    margin: 0.5em 0;
}

article p{
    color: var(--grijs);
    font-size: 1em;
    line-height: 1.5;
}

.dunkinthedonut p:first-of-type,
.dunkinthedonut p:nth-of-type(3){
    color: var(--oranje);
}

.dunkinthedonut p:nth-of-type(2),
.dunkinthedonut p:nth-of-type(4){
    color: var(--roze);
}

.dunkinthedonut p{
    font-size: 5em;
    font-family: "Dunkin sans display";
    width: 100%; 
    white-space: nowrap; /* Zorg dat de tekst in één regel doorloopt zonder op een nieuwe regel te springen */
    transform: rotate(8deg);
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
}

.dunkinthedonut{
    margin: 10em 0;
}

.vroeger,
.oprichter{
    margin: 1.4em;
}

.vroeger img:first-of-type,
.oprichter img:first-of-type{
    width: 100%;
    border-radius: 20px;
}

.vroeger img:nth-of-type(2),
.oprichter img:nth-of-type(2){
    background-color: var(--oranje);
    border-radius: 50%;
    padding: 1.5em;
    width: 30vw;
}

.vroeger h2,
.oprichter h2{
    font-size: 2em;
    color: var(--roze);
    margin: 0.5em 0;
}

.vroeger p,
.oprichter p{
    color: var(--grijs);
    font-size: 1em;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4em;
}

.container img {
    width: 100%;
}

.container img:first-of-type {
    position: relative; 
    z-index: 1;
    border-radius: 20px;
    height: 100vw;
    object-fit: cover;
}

.container img:last-of-type {
    position: absolute;
    z-index: 2;
    width: 50%;
    background-color: var(--wit);
    border-radius: 50%;
    filter: drop-shadow(5px 5px 4px var(--zwart))
}
